{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Line - {% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- MENU LATERAL -->
    <nav>
        {% include 'web/menu.html' %}
    </nav>

    <!-- CONTEÚDO PRINCIPAL -->
    <main>
        <header class="topbar">
            {% include 'web/topbar.html' %}
        </header>

        <div class="conteudo-page">
            {% block conteudo %}
            {% endblock %}
        </div>
    </main>

    
</body>
</html>